
background {color: #fff;}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 76%;     /* rumoured that sizes < 76%            */
  color: #333;        /*     cause problems ins some browsers */
    line-height: 1.48em;    /* 1.125 * 100 = 1.48 * 76% */
}

body, html {
    background: #cdcccb;
}

button, html, input, select, textarea {
    font-family: sans-serif;
}

html {
    display: block;
}


header {
    width: 1015px;
    margin: 0 auto;
    background: #085DAD;
    position: relative;
    height: auto;
    border-radius: 5px 5px 0 0;
    padding: 30px 0 0 25px;
}

#header-container {
    width: 1015px;
    margin: 0 auto;
    background: #085DAD;
}

#header-container, header {
    position: relative;
    height: auto;
}

#wrapper {
    width: 1040px;
    background: #fff;
    border-radius: 0 0 5px 5px;
}

#content {
  padding: 25px 10px 50px 25px
}

#content, #wrapper {
    margin: -15px auto;
    height: auto;

}

#content p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
}

div {
  display: block;
}

img#ucam {
    margin-bottom: 60px;
    margin-right: 20px;
}

img {
    vertical-align: middle;
}

a, img {
    outline: 0;
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}



footer {
    width: 1015px;
    height: 149px;
    background: #085DAD;
    position: relative;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding: 30px 0 0 25px;
}

footer img, footer p.credit {
    position: absolute;
}

footer p {
    color: #fff;
    font-size: .75em;
    line-height: 16px;
    padding: 0;
    margin: 0;
}

footer img {
    bottom: 0;
    right: 0;
}

.right {
    float: right;
}

.heading {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
}

.heading p {
    color: #fff!important;
}

.heading p, a.heading span {
    display: block;
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 1.97em!important;
    height: 32px!important;
    line-height: 32px!important;
    border-radius: 5px 0 0 5px;
}

.darkgrey {
    background: #ADB6B5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25em;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.97em;     /* 1.5 * 100% == 1.97 * 76% */       
  font-weight: bold;
}

h2 {
  font-size: 1.64em;    /* 1.25 * 100% == 1.64 *76% */
  font-weight: bold;
}

h3 {
  font-size: 1.31em;    /* 1 * 100% == 1.31 * 76% */
  font-weight: bold;
}

h4 {
  font-size: 1em;      /* 0.75 * 100% == 0.98 * 76%, call it 1 */
  font-weight: bold;
}

td ul, td ol, td h3, td h4 {
  font-size: 100%;
}
td p, td li {
  font-size: 100%em;
}

td h3 {
  font-size: 1.2em; font-weight: bold;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul#nav {
    overflow: hidden;
    margin: 0;
    padding: 2px 0 0 0;
    list-style-type: none;
    color: #666;
    font-size: 0.8em;
    width: 100%;
}

ul#nav li.first {
    padding-left: 0px;
    background: url(images/icon-home.gif) no-repeat 0 0;
}

ul#nav li.first img {
  padding-bottom: 2px;
  padding-right: 3px;
}

ul#nav li {
    float: left;
    padding: 0 0 0 2px;
    white-space: nowrap;
}

/* =LINKS
-------------------------------------------------------------- */

a[href]:active {text-decoration: none; }
  
a[id]:hover {text-decoration:none;}

a img {border:none;}


/* =LISTS
-------------------------------------------------------------- */

ul {
  list-style-type: disc;
}

ul ul, ol ol  {
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-left: 1.25em;
}

ul ul ul, ol ol ol, ul li p, ol li p, ul li ul, ul li ol, ol li ul, ol li ol {
  font-size: 100%;
}

ol {
  list-style-type: decimal;
  margin-left: 2.4em;
}

dl {  margin-left: 2em;}

dl dl { font-size: 0.75em; }

dt {  font-weight: bold;}

dd {  margin: 0 0 0.5em 0 ;}

/* =OTHER TEXT ELEMENTS
-------------------------------------------------------------- */

sup {
  font-size: 0.85em;
  position: relative;
  bottom: 0.5em;
}

sub {
  font-size: 0.85em;
  position: relative;
  top: 0.5em;
}

blockquote { 
  background: #fff;
  padding: 0.5em 1em 0 1em;
  font-size: 1em;
  position: relative;
}

/*
blockquote span {
  color: #d8d0b9;
  font-size: 8em;
  position: absolute;
  display: block;
  height: 10px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
*/

blockquote p {
  margin-left: 2.5em;
  margin-right: 2em;
}

strong {  font-weight: bold;}

em {  font-style: italic;}

pre {
  background: #fff;
  padding: 0.5em 1em 0 1em;
  font-family: Monaco, monospace;
  overflow: auto;
}

tt, code {
  font-family: 'Andale Mono', 'courier new', monospace;
  font-size: 1em;
  line-height: 1.125em;
}



/*standard table */

table th, table td {padding: 0.3em 0.4em 0.2em 0.4em;}

table th {font-weight:bold;}

